{% extends 'base.html' %}
    {% block content %}

        <!-- 로그인 되어있는 경우 -->
            <!-- 로그인 폼 -->
            <form id="loginForm">
                {% csrf_token %}
                <input type="hidden" name="next" value="" />
                <input type="text" name="email">
                <input type="text" name="password">
                {{ form.as_p }}
                <button type="submit">로그인</button>
            </form>

        <script>
           window.addEventListener("load", function () {
  function sendData() {
    let XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    let FD = new FormData(form);

    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event,code) {
        if(event.target.status >= 400){
            alert('error')
        }
        if(event.target.status == 200){
            alert('success')
        }
    });


    // Set up our request
    XHR.open("POST", "{% url 'rest_login' %}");

    // The data sent is what the user provided in the form
    XHR.send(FD);
  }

  // Access the form element...
  let form = document.getElementById("loginForm");

  // ...and take over its submit event.
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    sendData();
  });
});
        </script>
    {% endblock %}